<h1>Feed Parser</h1>
<%= render 'form'%>
<div class="start-page-content-inner-box" style="border-width: 2px; border-style: solid; border-color: red" id='ResultFeeds'>

</div>
<div class="start-page-content-inner-box" style="border-width: 2px; border-style: solid; border-color: black" id='ResultFeeds1'>

</div>


